:root {
    --dark-blue: rgb(0, 23, 100);
    --light-blue: #bdbeff;
    --montserrat: 'Montserrat', sans-serif;
    --bsc: 'Bilbo Swash Caps', cursive;
}

* {
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
    transition: all 0.2s linear;
    color: black;
}

html {
    scroll-behavior: smooth;
}

body {
    overflow-x: hidden;
}

::selection {
    background-color: #000000;
    color: #fff;

}

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
}

/* --------------------------------------------------- */
/* --------------------------------------------------- */
/* --------------------------------------------------- */
/* --------------------------------------------------- */
/* ========================LANDING PAGE==================== */
.landing-page {
    width: 100%;
    height: 100vh;
    background: #bdbeff;
    font-family: var(--montserrat);
    overflow: hidden;
}

/* ----------------------------------------- */
/*START FOR NAVBAR FOR DESKTOP */
header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 1rem 0;
}

.logo {
    display: flex;
    align-items: center;
}

.logo img {
    width: 50px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}

.header__logo {
    font-family: var(--bsc);
    font-weight: 600;
    font-size: 2.2rem;
}

.nav__list {
    display: flex;
    align-items: center;
}

.nav__item {
    margin: 0 8px;
}

.nav__link {
    padding: 10px;
    font-size: 0.9rem;
    font-weight: 500;
    border-radius: 5px;
    text-transform: uppercase;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}

.nav__link:hover {
    color: #000986;
}

.header__toggle,
.header__close {
    display: none;
    cursor: pointer;
}

@media screen and (max-width: 768px) {
    header {
        height: 48px;
        justify-content: space-between;
        padding: 0 28px;
    }

    .logo a {
        font-size: 1.5rem;
        ;
    }

    .logo img {
        width: 45px;
    }

    .header__toggle {
        display: inline;
        color: #050505;
        font-size: 1.5rem;
    }

    .header__close {
        position: absolute;
        right: 25px;
        display: block;
        font-size: 1.5rem;
        border: 0px;
        border-radius: 50%;
        -webkit-border-radius: 50%;
        -moz-border-radius: 50%;
        -ms-border-radius: 50%;
        -o-border-radius: 50%;
        background: rgb(192, 192, 192);
    }

    .header__close:hover {
        background-color: rgba(255, 255, 255, 0.575);
    }

    .nav {
        position: fixed;
        top: 0;
        right: -100%;
        background-color: #222831;
        color: #eee;
        width: 60%;
        height: 100vh;
        padding: 24px 0;
        z-index: 100;
        transition: 0.5s;
        -webkit-transition: 0.5s;
        -moz-transition: 0.5s;
        -ms-transition: 0.5s;
        -o-transition: 0.5s;
    }

    .nav__list {
        display: flex;
        flex-direction: column;
    }

    .nav__item {
        margin: 2rem 0;
    }

    .nav__link {
        color: #ffffff;
    }

    .show {
        right: -2px;
    }
}

/*END FOR NAVBAR FOR DESKTOP */

/* ==================================================== */
/* ==================================================== */
/* ==================================================== */
/* ======LANDING PAGE SECTION============== */
.landing-page {
    width: 100%;
    height: 100vh;
    background: rgb(246, 251, 255);
}

/* ====================================== */
.lp-content-box {
    width: 100vw;
}

.vettel {
    overflow: hidden;
}

.inner-vettel {
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-evenly;
    align-content: center;
    flex-direction: row;
    background: linear-gradient(to bottom, #f5f5f5, #ececec);
    overflow: hidden;
}

.inner-vettel .color {
    position: absolute;
    filter: blur(150px);
}

.inner-vettel .color:nth-child(1) {
    background: #ff7aff;
    width: 290px;
    height: 300px;
    top: 100px;
    left: 125px;
}

.inner-vettel .color:nth-child(2) {
    background: #fffc34;
    width: 400px;
    height: 400px;
    bottom: 0px;
    left: 100px;
}


.inner-vettel .color:nth-child(3) {
    background: #8d94ff;
    width: 300px;
    height: 300px;
    bottom: 50px;
    left: 400px;
}

.cb-main-box {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    z-index: 3;
    width: 100%;
    height: 85vh;
}

.cb-img img {
    width: 450px;
    height: 450px;
}


.cb-head h2:nth-child(1) {
    font-size: 3rem;
    padding-left: 3rem;
}

.cb-head h2:nth-child(2) {
    font-size: 5.5rem;
}

.btn_1 {
    display: flex;
    margin-top: 3rem;
    padding-bottom: 5rem;
}

.inner-btn-1 {
    height: 48px;
    padding: 0.7rem;
    color: white;
    width: 180px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 3px solid var(--dark-blue);
    border-radius: 30px;
    cursor: pointer;
    margin-right: 1.5rem;
}

.inner-btn-1:hover {
    background-color: var(--dark-blue);
}

.inner-btn-1:hover h3 a {
    color: white;
}

.inner-btn-2 {
    height: 48px;
    padding: 0.7rem;
    color: white;
    width: 180px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 3px solid var(--dark-blue);
    border-radius: 30px;
    cursor: pointer;
}

.inner-btn-2:hover {
    background-color: var(--dark-blue);
}

.inner-btn-2:hover h3 a {
    color: white;
}

.five {
    background-color: var(--dark-blue);
    color: white;
}

/* ------------------------------------------------------------------------------ */
/* ------------------------------------------------------------------------------ */
/* ------------------------------------------------------------------------------ */
/* -------------------------ARRANGEMENTS BOX------------------------------------- */
.arrangements {
    padding: 4rem 0rem;
    font-family: var(--montserrat);
    color: #0112ffa2;
}

.con-txt-box {
    width: 700px;
    margin: auto;
    text-align: center;
}

.con-txt-box h2 {
    padding-bottom: 2rem;
    color: #000986;
    font-size: 3.5rem;
}

.con-txt-box p {
    font-size: 1.05rem;
}

.arra-ctb {
    width: 100%;
    display: flex;
    padding: 2rem 0rem;
    flex-wrap: wrap;
}

.flower__show {
    flex: 1 1 150px;
}

.flower__show img {
    max-width: 100%;
    max-height: 100%;
}

.flower-spec {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    font-family: var(--montserrat);
    color: #0112ffa2;
    margin-bottom: 3rem;
}

.flower-spec>img {
    width: 720px;
}

.flo-txt-box {
    width: 70vw;
    margin: auto;
    text-align: center;
}

.flo-txt-box h2 {
    padding-bottom: 2rem;
    color: #000986;
    font-size: 3.5rem;
}

.flo-txt-box p {
    font-size: 1.05rem;
    margin-bottom: 3rem;
}

.other {
    font-family: var(--montserrat);
}

.ot-txt-box {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    position: relative;
    padding: 1rem 0;
}

.ot-txt-box h2 {
    color: #000986;
    font-size: 3rem;
}

.parent {
    display: grid;
    place-items: center;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(4, 1fr);
    grid-column-gap: 10px;
    grid-row-gap: 10px;
    margin-bottom: 1rem;
    padding: 1rem;
}

.div1 {
    grid-area: 1 / 1 / 3 / 3;
}

.div2 {
    grid-area: 1 / 3 / 3 / 5;
}

.div3 {
    grid-area: 3 / 1 / 5 / 3;
}

.div4 {
    grid-area: 3 / 3 / 5 / 5;
}

.box__img {
    width: 350px;
    height: 250px;
    position: relative;
}

.box__img .front,
.box__img .back {
    position: absolute;
    width: 350px;
    height: 250px;
    background: #ffffff;
    backface-visibility: hidden;
    -webkit-backface-visibility: hidden;
    cursor: pointer;
    box-shadow: 0 5px 30px rgba(97, 97, 97, 0.2), 0 -5px 30px rgba(133, 133, 133, 0.2);
    transition: transform 0.4s;
    -webkit-transition: transform 0.4s;
    -moz-transition: transform 0.4s;
    -ms-transition: transform 0.4s;
    -o-transition: transform 0.4s;
    overflow: hidden;
}

.box__img .front {
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
}

.box__img .back {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    transform: perspective(800px) rotateX(-180deg);
    -webkit-transform: perspective(800px) rotateX(-180deg);
    -moz-transform: perspective(800px) rotateX(-180deg);
    -ms-transform: perspective(800px) rotateX(-180deg);
    -o-transform: perspective(800px) rotateX(-180deg);
}

.box__img .back p {
    margin: 10px 20px;
    text-align: center;
}

.box__img .front img {
    width: 100%;
    height: 100%;
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
    position: absolute;
}

.box__img:hover .front {
    transform: perspective(800px) rotateX(180deg);
    -webkit-transform: perspective(800px) rotateX(180deg);
    -moz-transform: perspective(800px) rotateX(180deg);
    -ms-transform: perspective(800px) rotateX(180deg);
    -o-transform: perspective(800px) rotateX(180deg);
}

.box__img:hover .back {
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
    transform: perspective(800px) rotateX(0);
    -webkit-transform: perspective(800px) rotateX(0);
    -moz-transform: perspective(800px) rotateX(0);
    -ms-transform: perspective(800px) rotateX(0);
    -o-transform: perspective(800px) rotateX(0);
}

/* ---------------------------------------------- */
/* ---------------------------------------------- */
/* ---------------------------------------------- */

.footer {
    display: flex;
    flex-flow: row wrap;
    padding: 30px 30px 20px 30px;
    color: #2f2f2f;
    background-color: #fff;
    border-top: 1px solid #727272;
    font-family: var(--montserrat);
}

.footer>* {
    flex: 1 100%;
}

.footer__addr {
    margin-right: 1.25em;
    margin-bottom: 2em;
}

.footer__logo {
    text-transform: uppercase;
    font-size: 1.5rem;
}

.footer__addr h2 {
    margin-top: 1.3em;
    font-size: 1.3rem;
    font-weight: 400;
}

.nav__title {
    font-weight: 400;
    font-size: 15px;
}

.footer address {
    font-style: normal;
    color: #999;
}

.footer__btn {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 40px;
    max-width: max-content;
    background-color: rgb(33, 33, 33, 0.07);
    border-radius: 100px;
    color: #2f2f2f;
    line-height: 0;
    margin: 1em 0;
    font-size: 1rem;
    padding: 0 1.3em;
    transition: 0.4s ease-in-out;
}

.footer__btn:hover {
    background-color: rgb(145, 145, 255);
    color: white;
}

.footer ul {
    list-style: none;
    padding-left: 0;
}

.footer li {
    line-height: 2em;
}

.footer a {
    text-decoration: none;
}

.footer__nav {
    display: flex;
    flex-flow: row wrap;
}

.footer__nav>* {
    flex: 1 50%;
    margin-right: 1.25em;
}

.nav__ul a {
    color: #999;
    transition: all 0.3s ease-out;
}

.nav__ul a:hover {
    color: #000986;
}

.nav__ul--extra {
    column-count: 2;
    column-gap: 1.25em;
}

.legal {
    display: flex;
    flex-wrap: wrap;
    color: #999;
}

.legal__links {
    display: flex;
    align-items: center;
}

.heart {
    color: #2f2f2f;
}

@media screen and (min-width: 24.375em) {
    .legal .legal__links {
        margin-left: auto;
    }
}

@media screen and (min-width: 40.375em) {
    .footer__nav>* {
        flex: 1;
    }

    .nav__item--extra {
        flex-grow: 2;
    }

    .footer__addr {
        flex: 1 0px;
    }

    .footer__nav {
        flex: 2 0px;
    }
}

@media (max-width: 935px) {
    .cb-img img {
        width: 330px;
        height: 330px;
    }

    .cb-head h2:nth-child(1) {
        font-size: 2rem;
        padding-left: 1rem;
    }

    .cb-head h2:nth-child(2) {
        font-size: 4rem;
    }

    .inner-btn-1 {
        margin-right: 1rem;
    }


}

@media (max-width: 780px) {

    .flower-spec>img {
        width: 520px;
        margin-top: 2rem;
    }

    .con-txt-box {
        width: 500px;
    }

    .con-txt-box p {
        font-size: 0.8rem;
    }
}

@media (max-width: 700px) {
    .cb-img img {
        width: 250px;
        height: 250px;
    }

    .cb-head h2:nth-child(1) {
        font-size: 1.5rem;
        padding: 0%;
    }

    .cb-head h2:nth-child(2) {
        font-size: 2.5rem;
    }

    .btn_1 {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .inner-btn-1 {
        margin: 0rem 0rem 2rem 0rem;
    }

    .parent {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
    }

    .box__img {
        width: 350px;
    }

}

@media (max-width: 560px) {

    .con-txt-box h2 {
        font-size: 2.5rem;
    }

    .con-txt-box p {
        margin: auto;
        width: 400px;
    }

    .flo-txt-box h2 {
        font-size: 2.5rem;
    }

    .flo-txt-box p {
        margin: auto;
        width: 400px;
    }

    .flower-spec>img {
        width: 400px;
    }

    .footer__addr {
        margin: 0;
    }
}


@media (max-width: 505px) {
    .flo-txt-box {
        width: 300px;
    }

    .flo-txt-box h2 {
        font-size: 1.8rem;
    }

    .flo-txt-box p {
        width: 300px;
    }

    .con-txt-box {
        width: 300px;
    }

    .con-txt-box h2 {
        font-size: 1.8rem;
    }

    .con-txt-box p {
        width: 300px;
    }

    .cb-main-box {
        flex-direction: column;
    }

    .btn_1 {
        margin-top: 2rem;
        padding-bottom: 3rem;
    }

    .cb-img img {
        width: 220px;
        height: 220px;
    }

    .flower-spec>img {
        width: 300px;
    }

    .ot-txt-box h2 {
        font-size: 2rem;
    }
}